@import "./../../scss/variables.scss";
@import "./../../scss/mixins.scss";



.userAvatar {
			width: 5em;
			border-radius: 100%;
			justify-self: center;
}

.btnSubscribe {
		width: 100px;
		font-size: x-small;
		margin: 0 auto;
}

.title {
		margin: 1em;
		background-color: $aBg;
		padding: 1em;
		color: $aColor;
}

.item {
	display: grid;
	grid-template-columns: 1fr 6fr;
	margin: 1px 2em;
	padding: 2em;
	background-color: $aBg;
	color: white;
	button {
		border-radius: 50px;
		padding:0.5em;
	}
	.avabtn {
		display: grid;
		justify-self: start;
	}
	.avabtnFollowed {
		display: grid;
		justify-self: start;
		
	}
	.avabtnFollowed:hover {
			background-color: $btnSuccess;
		}
	.avabtnUnfollowed {
		display: grid;
		justify-self: start;
		background-color: rgba(0, 255, 0, 0.438);
	}
	.avabtnUnfollowed:hover {
			background-color: $btnFail;
		}
}
.main {
	display: grid;
}

.btnShowUsers {
	justify-self: center;
	margin: 2em;
	border-radius: 50px;
}