* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #60B9CE;
  font-family: "verdana", sans-serif;
  font-size: 14px;
}

.app-wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "HEAD HEAD" "NAVI CONT";
  -ms-grid-rows: 50px 10px 1fr;
  grid-template-rows: 50px 1fr;
  -ms-grid-columns: 2fr 10px 10fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 90%;
  margin: 0 auto;
}

.content {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: CONT;
  background-color: #015367;
}