.usersBox {
  margin: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
  grid-template-columns: 1fr 5fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -ms-grid-rows: 100px 50px;
  grid-template-rows: 100px 50px;
}.usersBox > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.usersBox > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}.usersBox > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}.usersBox > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.usersBox img {
  width: 70%;
  margin: 1em;
  padding: 1em;
  border-radius: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}
.usersBox button {
  width: 70%;
  font-size: x-small;
  -ms-grid-column-align: center;
      justify-self: center;
}

.title {
  margin: 1em;
  background-color: #206676;
  padding: 1em;
  color: #fff;
}

.noActive {
  text-decoration: none;
}

.yesActive {
  text-decoration: none;
}

.item {
  background-color: #206676;
  color: #fff;
  padding: 2em;
  border-radius: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9fr 1fr;
  grid-template-columns: 9fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.item > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.item > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.item > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.item > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

aside {
  color: rgba(255, 255, 255, 0.7529411765);
}

.btnShow {
  width: 30%;
  font-size: large;
  margin: 1em 16.24em;
}