$bgColorHead: #015367;
$bgColorNav: #015367;
$bgColorCont: #015367;
$bgColor: #60B9CE;
$bgMyPosts: #38B2CE;

$fontStyle: 'verdana', sans-serif;
$spanTextColor: lightgrey;

$aBg: #206676;
$aBgHover: #FF7F00;
$aColor: #fff;
$bColor: #ffffffc0;
$aColorHover: #000;
$aBgActive: #BF7730;
$aColorActive: #000;

$bgButton: #ffff;
$buttonBgHover: #FF7F00;
$buttonBgActive: #BF7730;

$btnSuccess: rgb(0, 175, 0);
$btnFail: rgb(175, 0, 0);